CMakeCache.txt
CMakeFiles/
cmake_install.cmake
target/
framework
!framework/
tests
!tests/
itTests
!itTests/
single_cu
!single_cu/
single_cu.filelist
framework.cbp
Makefile
lib/
Testing/
CTestTestfile.cmake
*.a
sandbox
pass
